body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 500px;
  background-image: url("./images/background-burger.jpg");
}

.form-app {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  margin: 50px;
}
.image-decoration {
  width: 100px;
  display: block;
  /* position: absolute; */
  /* bottom: -15px; */
  /* right: -25px; */
  border-radius: 40%;
  /* margin: 0 auto; */
}
.Burger {
  width: 250px;
  display: block;
}
